button {
    border-radius: 10%;
    color: black;
    background-color: floralwhite;
    padding: 50px 100px 50px 100px;
    position: relative;
    font-size: 30px;
    text-size-adjust: 1;

}

button:hover {
    animation-name: background-color;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes background-color {
    0% {
        background-color: aqua;
        
        box-shadow: 0 0 5px aqua;
    }
    100% {
        background-color:pink;
        box-shadow: 0 0 20px pink;
        
    }
    
}

#donate {
    top: 40%;
    left: 20%; /* these are offset values for relative positon*/
    
}
#receive {
    top: 10%;
    left: 50%;
}