footer {
    display: flex;
    flex-wrap: wrap; /*items can flow into multiple rows when screen shrinks*/
    justify-content: space-around; 
    flex-direction: column; /*as opposed to row used in navbar*/
    align-items: center; /*align columns in center of container*/
    padding: 10vh 0px 0px 0px; /*space above the footer*/
    margin: 40px auto 0 auto;
    background: #c4c4c4; /*color of footer's background, excludes li items*/
    min-height: 10vh;
}

.footer-links {
    list-style-type: none; /*remove bullet points*/
    text-align: center;
   
}

.footer-links li {
    padding: 20px;
    background-color: #c4c4c4; /*does not color <a> tags*/
}

.footer-links .child2 {
    transition: all 0.3s ease 0s; /*all refers to all the properties transition: color, padding etc*/
    
}

.footer-links .child2 :hover { /*child2 is the contact link*/
    color: #0088a9;
}

#graybg { /*color contact background gray as well*/
    background-color: #c4c4c4;
}

footer .footer-logo {

    background-color: #c4c4c4;
    cursor: pointer;
    width: 3vw; /*5% of the viewport width*/
    margin: 10px; /*use margin for spaces between images it seems*/
    
}

.sm-container {
    display: flex;
    background: #c4c4c4;
    justify-content: space-evenly;
    
    
}



