@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    font-size: 100%; /*font size of root element*/
}

main {
    margin: 0;
    padding: 5px;
    background-color: #24252A;
}

/*main > h1, p { /*this appears to be a class selector applying the parent class's features*/
    /*margin: 10px;
    padding: 5px;
}
*/
body {
    background-color:#24252A;
    
}


h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif; /* note the font fallbacks*/
    color: white;
    text-align: center;
}

.h2 { /*Bitcoin/Ethereum*/
    font-family: Arial, Helvetica, sans-serif; /* note the font fallbacks*/
    color: black;
    text-align: center;
}


p {
    font-size: 2em; /* 2em is 2x the font size of the current element's parent*/
}

.container { /*for layout of the spacing between items and their positioning*/
    
    display: flex;
    flex-wrap: wrap; /*items can flow into multiple rows when screen shrinks*/
    justify-content: space-around;
   
    margin: 40px auto 0 auto; /*create space between flex items*/
    /*justify-content: space-around; /*evenly spaces flexbox container around its items*/
    /*align-items: center; /*place flex item along main axis*/
    
    
}

.flexbox-item {
    width: 200px; /*width of each flex item*/
    margin: 10px; /*space around each flex item*/
    border: 3px black;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox-content {
    width: 100px;
    margin: 10px;
    border: 10px black;
    background-color: azure;
}

.item1 { /*donate button*/
    height: 100px;
    min-height: 50px;
}

.item2 { /*receive button*/
    height: 100px;
    min-height: 50px;

}

.item1-text { /*text box below donate*/
    height: 20vh;
    width: 40vw;
    border-style: double;
    border-color:#24252A;
    border-width: 5px;
    

}

.item2-text { /*text box below receive*/
    height: 20vh;
    width: 40vw;   
    
}

.item-image { 
    min-height: 200px;
    min-width: 300px;
    
}

.ulbp {
    list-style-type: none; /*remove bullet points*/
    text-align: center;
}




/*
@media (min-width: 400px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        
        grid-template-areas: 
            "header header"
            "advert content"
            "footer footer";
    }
}










